{% extends 'main.html' %}
{% set active_page = "index" %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-8 text-center">
    <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in nisi auctor, efficitur diam in, vestibulum magna. Duis diam enim, porta a nulla eu, porta elementum felis. Morbi a mi fringilla, vehicula libero eu, molestie nunc. Nam ultrices nisi sapien, et luctus tellus consectetur sit amet. Fusce aliquet a nulla nec eleifend. Sed mauris erat, aliquam euismod rutrum non, facilisis non nulla. Praesent mollis pharetra rutrum.</p>
    <p class="text-left">Aenean felis diam, rutrum in velit et, interdum ultricies mauris. Sed tempus pretium felis, a scelerisque nisl hendrerit at. Maecenas dictum vel nisi et euismod. Nullam non ligula risus. In eu dapibus nunc, ut porttitor mauris. Integer vel vulputate ex, accumsan viverra metus. Mauris fringilla, nunc non molestie dictum, elit justo aliquet libero, et ullamcorper tortor tellus id nisl. Vivamus eu neque non magna blandit lacinia ac sed erat. Integer at posuere odio. Proin ullamcorper hendrerit sapien et tempus. Fusce vulputate dolor lectus, ac gravida mi aliquam in.</p>
    <a class="btn btn-outline-secondary" href="{{ request.script_root }}/precompute" role="button" style="margin-top: 20px">Let's Try!</a>
  </div>
</div>

    
{% endblock %}
