{% extends 'main.html' %}
{% set active_page = "index" %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-8 text-center">
    <p class="text-left">The advancement of science and technology has influenced the way of producers or manufacturers to do business by processing product sales and customer preferences data to obtain some useful informations, for example to find products that are most preferred by customers. So, producers can decide on which products should be selected for targeted marketing so it will be sustaining in global market.</p>
    <p class="text-left"> <b>k-Most Promising Products in Time Intervals (k-MPPTI)</b> is a product selection strategy by looking for k-products that are most preferred by customers in certain time intervals that adapted from k-Most Promising Products (k-MPP) computation created by M. S. Islam and C. Liu. k-MPPTI algorithm uses two types of skyline computation, namely dynamic skyline and reverse skyline. In addition, the k-MPPTI algorithm also implements parallel computing techniques to make data processing faster.</p>
    <a class="btn btn-outline-secondary" href="{{ request.script_root }}/precompute" role="button" style="margin-top: 20px">Let's Try!</a>
  </div>
</div>

    
{% endblock %}
