{% extends 'main.html' %}
{% set active_page = "visualization" %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-10 text-center">
    <nav class="nav nav-pills nav-fill" style="margin-bottom: 30px">
      <a class="nav-item btn btn-outline-secondary disabled" role="button">{{ session_name }}</a>
    </nav>
    <h4 style="margin-bottom: 30px">Data Information</h4>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-5">
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">Data Type</th>
          {% if metadata['data_type'] == 'i' %}
          <td>Independent (generate synthetic data)</td>
          {% elif metadata['data_type'] == 'ac' %}
          <td>Anti-Correlated (generate synthetic data)</td>
          {% elif metadata['data_type'] == 'fc' %}
          <td>Forest Cover Type Dataset (original data)</td>
          {% else %}
          <td>Unknown</td>
          {% endif %}
        </tr>
        <tr>
          <th scope="row">Number of Product</th>
          <td>{{ metadata['total_prod'] }}</td>
        </tr>
        <tr>
          <th scope="row">Number of Customer</th>
          <td>{{ metadata['total_cust'] }}</td>
        </tr>
        <tr>
          <th scope="row">Attribute of Product</th>
          <td>
          {% for a in metadata['attr_prod'] %}
            {{ a }},
          {% endfor %}
          </td>
        </tr>
        <tr>
          <th scope="row">Attribute of Customer</th>
          <td>
            {% for a in metadata['attr_cust'] %}
              {{ a }},
            {% endfor %}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-5">
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">Number of Dimension</th>
          <td>{{ metadata['dim'] }}</td>
        </tr>
        <tr>
          <th scope="row">Maximum Value</th>
          <td>{{ metadata['max_val'] }}</td>
        </tr>
        <tr>
          <th scope="row">Minimum Value</th>
          <td>{{ metadata['min_val'] }}</td>
        </tr>
        <tr>
          <th scope="row">Maximum Timestamp</th>
          <td>{{ metadata['max_ts'] }}</td>
        </tr>
        <tr>
          <th scope="row">Minimum Timestamp</th>
          <td>{{ metadata['min_ts'] }}</td>
        </tr>
      </tbody>
    </table>
  </div>  
</div>
<div class="row justify-content-center" style="margin-top: 20px">
  {% if product %}
  <div class="col-5">
    <h4 style="margin-bottom: 30px">Product Data</h4>
    <p>Showing 1 to 20 data</p>
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-hover" id="table-product">
        <thead>
          <tr>
            {% for a in metadata['attr_prod'] %}
            <th class="text-center align-middle">{{ a }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for p in product %}
            {% if loop.index <= 20 %}
            <tr>
              {% for a in metadata['attr_prod'] %}
              <td>{{ p[a] }}</td>
              {% endfor %}
            </tr>
            {% endif %}    
          {% endfor %} 
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}
  {% if customer %}
  <div class="col-5">
    <h4 style="margin-bottom: 30px">Customer Data</h4>
    <p>Showing 1 to 20 data</p>
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-hover" id="table-customer">
        <thead>
          <tr>
            {% for a in metadata['attr_cust'] %}
            <th class="text-center align-middle">{{ a }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for p in customer %}
            {% if loop.index <= 20 %}
            <tr>
              {% for a in metadata['attr_cust'] %}
              <td>{{ p[a] }}</td>
              {% endfor %}
            </tr>
            {% endif %}    
          {% endfor %} 
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}
</div>
<div class="row justify-content-center" style="margin-top: 20px">
  <div class="col-12 text-center">
    <h4 style="margin-bottom: 30px">Data visualization</h4>
    <div id="visualization">
      <div class="menu" style="margin-bottom: 20px">
        <input type="button" class='btn btn-secondary' id="zoomIn" value="Zoom in">
        <input type="button" class='btn btn-secondary' id="zoomOut" value="Zoom out">
        <input type="button" class='btn btn-secondary' id="moveLeft" value="Move left">
        <input type="button" class='btn btn-secondary' id="moveRight" value="Move right">
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
$(function() { 
  // DOM element where the Timeline will be attached
  var container = document.getElementById('visualization');
  // Create a DataSet (allows two way data-binding)
  $.getJSON('{{ url_for('get_vis_data', session_name = session_name) }}', function(data) {
    var length = data.length
    var new_data = []
    $.each(data, function(i, item) {
      new_data.push({id: item.id, content: item.content, start: parseInt(item.start), end: parseInt(item.end)})
    });
    console.log(new_data)
    var items = new vis.DataSet(new_data)
    var options = {
      max: parseInt('{{ metadata['max_ts'] }}'),
      min: parseInt('{{ metadata['min_ts'] }}'),
      horizontalScroll: true,
      zoomKey: 'ctrlKey',
      margin: {
        item: 10, // minimal margin between items
        axis: 5   // minimal margin between items and the axis
      },
      orientation: 'top'
    };

    var timeline = new vis.Timeline(container, items, options);

    function move (percentage) {
      var range = timeline.getWindow();
      var interval = range.end - range.start;

      timeline.setWindow({
          start: range.start.valueOf() - interval * percentage,
          end:   range.end.valueOf()   - interval * percentage
      });
    }
    // attach events to the navigation buttons
    document.getElementById('zoomIn').onclick    = function () { timeline.zoomIn( 0.2); };
    document.getElementById('zoomOut').onclick   = function () { timeline.zoomOut( 0.2); };
    document.getElementById('moveLeft').onclick  = function () { move( 1); };
    document.getElementById('moveRight').onclick = function () { move(-1); };
  });
});


  
</script>
{% endblock %}

