<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>k-MPPTI | {{ title }}</title>
  <link rel='shortcut icon' type='image/x-icon' href="{{ url_for('static', filename='img/logo.ico') }}" />
  <!-- load css -->
  <link href="{{ url_for('static', filename='vendor/bootstrap-4.3.1/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/vis-4.21.0/vis.css') }}" rel="stylesheet" type="text/css" />
  <!-- load script -->
  <script src="{{ url_for('static', filename='vendor/vis-4.21.0/vis.js') }}"></script>
</head>
{% if session %}
<body onload="get_session({{ session }})">
{% else %}
<body>
{% endif %}
  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #32485c;">
      <div class="container">
        <a class="navbar-brand" href="{{ request.script_root }}/index">
          <img src="{{ url_for('static', filename='img/logo-nav.png') }}" width="35" height="35" class="d-inline-block align-top mr-2" alt="">
          k-MPPTI
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        {% set active_page = active_page|default('index') -%}
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav">
            <a href="{{ request.script_root }}/index" class="nav-item nav-link {{ 'active' if active_page == 'index' else '' }}">Home</a>
            <a href="{{ request.script_root }}/precompute" class="nav-item nav-link {{ 'active' if active_page == 'precompute' else '' }}">Precompute</a>
            <a href="{{ request.script_root }}/search" class="nav-item nav-link {{ 'active' if active_page == 'search' else '' }}">Search</a>
            <a href="{{ request.script_root }}/visualization" class="nav-item nav-link {{ 'active' if active_page == 'visualization' else '' }}">Visualization</a>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <main role="main">
    <section class="jumbotron text-center" style="margin-top: 60px; margin-bottom: 0;background-color: #fff;">
      <div class="row justify-content-center">
        <div class="col-8">
          <h1 style="margin-bottom: 30px">Obtaining k-Most Promising Products Based on Time Interval on Multidimensional Time Series Data</h1>
          <p class="lead text-muted">Hafara Firdausi (05111540000043)</p>
        </div>
      </div>
    </section>
    <div class="py-5 bg-light">
      <div class="container" style="margin-bottom: 30px">
        {% block content %}{% endblock %}
      </div>
    </div>
  </main>
  <footer class="text-muted" style="margin-bottom: 30px; margin-top: 30px; background-color: #fff;">
    <div class="container text-center">
      <span class="text-secondary mb-1 small">Copyright &copy; 2019 - Tugas Akhir by
        <a href="https://github.com/mocatfrio/tugas-akhir" class="text-secondary" target="_blank">Hafara Firdausi</a>
      </span>
    </div>
  </footer>
  <!-- load script -->
  <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='vendor/jquery/jquery-3.4.1.slim.min.js') }}"></script>
  <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='vendor/jquery/jquery-3.4.1.min.js') }}"></script>
  <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='vendor/bootstrap-4.3.1/js/bootstrap.bundle.min.js') }}"></script>
  <!-- custom script -->
  <script type="text/javascript">
    function get_session(session_name){
      let dropdown = $('#session');
      dropdown.empty();
      dropdown.append('<option selected disabled>Choose Session</option>');
      dropdown.prop('selectedIndex', 0);
      $.each(session_name, function(index, value) {
        dropdown.append($('<option></option>').attr('value', value).text(value));
      });
    }
  </script>
  {% block script %}{% endblock %}
</body>
</html>
