{% extends 'main.html' %}
{% set active_page = "search" %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-10">
    {% with messages = get_flashed_messages() %}
      {% if messages[0] == 'success' %}
        <div class="alert alert-success" role="alert">
          Precomputing dataset berhasil!
        </div>
      {% elif messages[0] == 'error' %}
        <div class="alert alert-danger" role="alert">
          Silahkan lakukan precomputing terlebih dahulu!
        </div>
      {% endif %}
    {% endwith %}
    <nav class="nav nav-pills nav-fill" style="margin-bottom: 30px">
      <a class="nav-item btn btn-outline-secondary disabled" role="button">{{ session_name }}</a>
    </nav>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-5">
    <h4 style="margin-bottom: 30px">Search Promising Product</h4>
    <form action="{{ url_for('search', session_name = session_name) }}" method="POST">
      <div class="form-group">
        <label for="num-of-product">Number of Product</label>
        <input type="text" class="form-control" id="num-of-product" placeholder="Masukkan jumlah produk yang ingin dicari" name="num-of-product" value="{{ param[0] if param else '' }}" required>
      </div>
      <div class="form-group">
        <label for="interval">Time Interval</label>
        <div class="row justify-content-center">
          <div class="col-6">
            <input type="text" class="form-control" id="time-start" placeholder="Choose Start Time" name="time-start" value="{{ param[1] if param else '' }}" required>
          </div>
          <div class="col-6">
            <input type="text" class="form-control" id="time-end" placeholder="Choose End Time" name="time-end" value="{{ param[2] if param else '' }}" required>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-warning float-right">Submit</button>
    </form>
  </div>
  <div class="col-5">
    {% if result %}
    <h4 style="margin-bottom: 30px">Result</h4>
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-hover" id="table-police">
        <thead>
          <tr>
            <th class="text-center align-middle">No.</th>
            <th class="text-center align-middle">Product</th>
            <th class="text-center align-middle">Market Contribution</th>
          </tr>
        </thead>
        <tbody>
          {% for res in result %}
            <tr>
              <td class="text-center">{{ loop.index }}</td>
              <td>{{ res['id'] }}</td>
              <td>{{ res['market_contr'] }}</td>
            </tr>
          {% endfor %} 
        </tbody>
      </table>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
